body{
    font-size: 16px;
}

p.em{
    font-size: 2em;
}

div p{
    font-size: 2em;
}

div p.rem{
    font-size: 3rem;
}

p.ex{
    font-size: 1ex;
}


/*
    in: (inches o pulgadas) 
            1in = 2.54cm
    cm: centímetros
    mm: milímetros
    pt: puntos 
            1pt = 0.35mm
    pc: picas 
            1pc = 12pt = 4.23mm
*/

p.in{
    font-size: .2in;
}

p.cm{
    font-size: 1.5cm;
}

p.mm{
    font-size: 15mm;
}

p.pt{
    font-size: 30pt;
}

p.pc{
    font-size: 3pc;
}

div.fija{
    height: 100px;
    width: 100px;
    background: red;
}
/*50% del padre en este caso body, sera el porcentaje del tamaño del padre
se ajustara el componente al cambiar tamaño pantalla segun ese porcentaje
se usa en pantallas que se tienen que adaptar al tamaño que lo ponga el usuario*/
div.porcentual{
    height: 100px;
    width: 50%;
    background: green;
    margin: 5%;
}














